body{
    background-color: #f0f0f4;
    margin: 0;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;   
}
a{
    text-decoration: none;
    color:#f1f1f1;
    font-size: 15px;
    padding: 8px 16px;
    width: 50px;
    border: none;
    outline: none;
    display: block;
    
}
a:hover{
    background-color: whitesmoke;
    color: black;
}
nav{
    background: black;
    width: 100%;
    display: absolute;
    box-sizing: inherit;
    height: 38px;
    display: block;
}


form {
    margin: 80px auto;
    background-color: rgb(26, 24, 24);
    max-width: 790px;
    border-radius: 8px;
    /* Preenchimento */
    padding: 64px;
    color: white;
    

}
form h1 {
    font-size: 36px;
}

form fieldset {
    margin-top: 64px;
    border: 0;
}

form legend{
    margin-bottom: 40px;
}

form legend h2{
    font-size: 24px;
}

form .field {
    flex: 1;
    display: flex;
    flex-direction: column;

    margin-bottom: 24px;
}



form input,
form select{
    background-color: #f0f0f5;
    border: none;
    padding: 16px 24px;
    font-size: 16px;
    /*remove linha preta */
    outline: none;

    border-radius: 8px;

}





form button{
    width: 260px;
    height: 56px;
    
    background-color: rgb(15, 15, 15);
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
    outline: none;
    transition: background-color 400ms;
}

form button:hover{
    background-color: rgb(7, 7, 7);
}

